html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #eee;
    font-family: Arial,sans-serif;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.bigLocalVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.bigRemoteVideo {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bigRemoteVideo video {
    object-fit: cover;
    width:100%
}

.videoContainer {
    z-index: 1;
    position: absolute;
    flex-direction: row;
    width:100%;
    height: 100%;
}

.smallLocalVideo {
    position:absolute;
    bottom: 2em;
    left: 2em;
    object-fit: cover;
    z-index: 2;
    max-width: 15%;
    margin-right: 1em;
    border:1px solid #FF6600;
}



.smallRemoteVideo {
    position: relative;
    display: inline-block;
    max-width: 15%;
    top: 2em;
    left: 2em;
    z-index: 1;
    border: 1px solid #FF6600;
    margin-right: 1em;
}

.smallRemoteVideo video {
    max-width: 100%;
    max-height: 100%;
}

.videoName {
    position:absolute;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
    color: #CCC;
    width: 100%;
    text-align: center;
}

.partipantsPanel {
    margin-top: 3em;
}

.topButtons {
    position: absolute;
    right: 2em;
    top: 2em;
    z-index: 3;
}

.cmdButtons {
    display:flex;
    flex-direction: column;
    position: absolute;
    right: 2em;
    bottom: 2em;
    z-index: 2;
}

.cmdButtons button {
    margin-bottom: 1em;
}

.logout {
    position:absolute;
    top:2em;
    right:2em;
}