language: node_js
node_js:
  - "0.12"
before_script:
  - npm prune
script:
  - git checkout $TRAVIS_BRANCH
  - git reset --hard $TRAVIS_COMMIT
  - npm run test:coverage -- --sauce
after_script:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info
after_success:
  - npm run semantic-release
branches:
  except:
    # Ignore Git tags created by semantic-release, like "v1.2.3"
    - /^v\d+\.\d+\.\d+$/
addons:
  addons:
    sauce_connect: true