language: node_js
node_js:
  - "5"
before_script:
  - npm prune
script:
  - npm run schema
  - npm run test:coverage
after_script:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info
  - bash ./deploy-esdoc-gh-pages.sh
after_success:
  - npm run semantic-release
branches:
  except:
    # Ignore Git tags created by semantic-release, like "v1.2.3"
    - /^v\d+\.\d+\.\d+$/
addons:
  addons:
    sauce_connect: true
